{
  "existing:bucketName": "your-s3-bucket-name",
  "existing:distributionId": "YOUR_CLOUDFRONT_DISTRIBUTION_ID",
  "existing:distributionDomainName": "xxxx.cloudfront.net",
  "cloudfront:responseHeadersPolicyId": "YOUR_RESPONSE_HEADERS_POLICY_ID"
}
